body {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

h1 {
    font-family: 'Monoton', cursive;
    color: #5F54E8;
}

h2 {
    color: #5F54E8;
}

p, h2, a {
    font-family: 'Roboto', sans-serif;
}

/* header classes */
.navbar {
    padding: 0 10%;
    border-bottom: 1px solid #5F54E8;
}

.nav-link {
    color: #5F54E8;
}

.active {
    font-weight: 800;
}

.pgtitle {
    padding: 5px 0 0 10px;
}

.my-name {
    font-family: 'Monoton', cursive;
    color: #5F54E8;
    font-size: 2rem;
    margin-bottom: 0;
}
/* about me classes */

.page-wrapper {
    background-color: white;
    margin: 30px auto 10%;
    border: 1px solid #5F54E8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
    margin: 0 auto 10px;
    padding: 10px;
}

.imgt {
    float:left;
    border-radius: 100%;
    margin: 5px 10px 10px 0;
}

/* portfolio classes */

/* contact classes */

.btn-primary {
    background-color: #84fab0;
    color: black;
}

.btn-primary:hover {
    background-color: #5F54E8;
    color:white;
}

/* footer classes */

.footer {
    border-top: 1px solid #5F54E8;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 0;
}
