body {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

h1 {
    font-family: 'Monoton', cursive;
    color: #5F54E8;
}

h2 {
    color: #5F54E8;
}

p, h2, a {
    font-family: 'Roboto', sans-serif;
}

/* header classes */
.navbar {
    padding: 0 10%;
    border-bottom: 1px solid #5F54E8;
}

.active {
    font-weight: 900;
    text-decoration: underline;
}

.pgtitle {
    padding: 5px 0 0 10px;
}

.my-name {
    font-family: 'Monoton', cursive;
    color: #5F54E8;
    font-size: 2rem;
    margin-bottom: 0;
}
/* Header ID */
#atext {
    color: #5F54E8;
}

/* about me classes */

.page-wrapper {
    background-color: white;
    margin: 30px auto 10%;
    border: 1px solid #5F54E8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
    margin: 0 auto 10px;
    padding: 10px;
}

.imgt {
    float:left;
    border-radius: 100%;
    border: 1px solid #5F54E8;
    margin: 5px 10px 10px 0;
}

p.link {
    text-decoration: none;
}

/* portfolio classes */
@media screen and (max-width: 596px) {
    .pwrap {
        text-align: center;
    }
}


.portbox {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0 20px 40px 0;
    border: 1px solid #5F54E8;
    opacity: 0.7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portbox:hover {
    opacity: 1;
}

.pb1 {
    background-image: url("assets/ipad-startup.jpg");
}

.pb2 {
    background-image: url("assets/drums.png");
}

.pb3 {
    background-image: url("assets/dice.png");
}

.pb4 {
    background-image: url("assets/john.png");
}

.pbtitle {
    height: 35px;
    width: 200px;
    position: relative;
    top: 200px;
    text-align: center;
    font-family: 'Monoton', cursive;
    color: #5F54E8;
    font-size: 1.5rem;
    
}
/* contact classes */

.btn-primary {
    background-color: #84fab0;
    color: black;
}

.btn-primary:hover {
    background-color: #5F54E8;
    color:white;
}

/* footer classes */

.footer {
    border-top: 1px solid #5F54E8;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 0;
}
